* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  /* by doing this now 1 rem = 10px else by default its 16px so it is tough for calculations */
}

/* ============HEADER SECTION============== */
header {
  height: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #e7f5ff;
}
header .logo {
  font-size: 3rem;
  font-weight: 900;
  font-family: sans-serif;
  padding: 0 2rem;
}

.nav-list {
  display: flex;
  gap: 4.8rem;
  list-style: none;
  padding: 0 2rem;
}

.nav-link:link,
.nav-link:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2rem;
  color: #212529;
  transition: all ease-in 0.3s;
}

.nav-link:active,
.nav-link:hover {
  color: #365fc7;
}


/* ========MAIN SECTION======= */
main
{
  height: 100vh;
  background-color: #365fc7;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero
{
  font-size: 10rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
/* 
.navbar ul
{
    display: flex;
    font-size:2rem;
}

 nav ul li 
{
    display: flex;
    text-decoration: none;
    padding: 0 4rem;
    

}
a
{
    text-decoration: none;
} */

/*
.nav-list
{
    display: flex;
} */

.mobile-nav-btn {
  display: none;
  background: transparent;
  cursor: pointer;
}

.mobile-nav-icon {
  width: 5rem;
  height: 4rem;
  color: #212529;
}

.mobile-nav-icon[name='close-outline'] {
  display: none;
}

/* ================APPLYING MEDIA QUERIES ==================*/
/* 980px */
@media (max-width: 980px) {
  .mobile-nav-btn {
    display: block;
    z-index: 1000;

    border: 3px solid #212529;
    color: #212529;
  }
  .navbar {
    display: none;
  }
  /* .logo
    {
           width: 40%;
    } */
}
